* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    background-color: #BEFFD0;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Times New Roman';
}

@media (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 12.85%;
    }
    .about1 {
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 14.71%;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }

    .object > img {
        max-width: 100%;
    }

    .object {
        margin-bottom: 14.4%;
    }

    .one-computer {
        margin: 0;
        width: 0;
        height: 0;
    }

    .two {
        width: 80.2%;
        margin-left: 6.8%;
    }

}

@media (min-width: 769px) {
    .container {
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 4.03%;
        position: relative;
        aspect-ratio: 1311/1870;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }

    .object > img{
        max-width: 100%;
    }

    .one-computer {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 77.9%;
    }

    .one-mobile {
        width: 0;
    }

    .three {
        position: absolute;
        top: 39.5%;
        left: 5%;
        width: 29.8%;
    }

    .two {
        position: absolute;
        top: 36%;
        left: 60.4%;
        width: 34.8%;
    }

    .four {
        position: absolute;
        top: 50.9%;
        left: 44.6%;
        width: 45.5%;
    }
}