* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    background-color: #BEFFD0;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Times New Roman';
}

@media (max-width:768px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .about1 {
        margin-top: 35px;
        margin-left: 33px;
        width: 84%;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }

    .object {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    img {
        max-width: 85%;
    }
}

@media (min-width: 769px) {
    .container {
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 0.6%;
        position: relative;
        aspect-ratio: 1311/2204;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }

    .object > img{
        max-width: 100%;
    }

    .one {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 77.7%;
    }

    .two {
        position: absolute;
        top: 31.5%;
        left: 27.8%;
        width: 72.2%;
    }

    .three {
        position: absolute;
        top: 56%;
        left: 0%;
        width: 29.8%;
    }

    .four {
        position: absolute;
        top: 58.7%;
        left: 44.6%;
        width: 45.5%;
    }
}