* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    color: #ffffff;
    background-color: #000000;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Times New Roman';
}

@media (max-width:768px) {
    .about1 {
        margin-top: 63px;
        margin-left: 33px;
        width: 84%;
    }

    .video {
        margin-top: 10%;
        margin-left: 33px;
        margin-bottom: 10%;
    }
    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #ffffff;
    }

    .objects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .object {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .one {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .object > img {
        max-width: 82.5%;
    }

    .ob {
        padding-top: 5px;
    }

    .one1 > img {
        max-width: 0;
    }

    .three1 > img {
        max-width: 0;
    }

    .six1 > img {
        max-width: 0;
    }
}

@media (min-width:769px) {
    .container {
        position: relative;
        aspect-ratio: 1440/1430;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #ffffff;
    }

    .objects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
    }

    .object {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2%;
        max-width: 82.5%;
    }

    .object > img {
        max-width: 100%;
    }

    .one > img {
        max-width: 0;
    }

    .three > img {
        max-width: 0;
    }

    .six > img {
        max-width: 0;
    }

    
}