* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    color: #000000;
    background-color: #FFFFFF;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Times New Roman';
}

@media (max-width:768px) {
    .frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 12.85%;
    }
    .about1 {
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 14.71%;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }

    .objects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
    }

    .object {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20.45%;
    }

    .name > img {
        max-width: 90.4%;
        margin-top: 3%;
    }
    .rat > img {
        max-width: 95%;
        padding-left: 5%;
    }

    .dog > img {
        max-width: 70.3%;
    }

    .bat > img {
        max-width: 77.6%;
    }

    .bees > img {
        max-width: 58.2%;
    }

    .pig > img {
        max-width: 89.7%;
    }

    .pig {
        margin: 0;
    }
}

@media (min-width:769px) {
    .frame {
        position: relative;
        aspect-ratio: 1311/1276;
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 1.4%;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }

    .object > img {
        max-width: 100%;
    }

    .name {
        position: absolute;
        top: 0%;  
        left: 22%;
        width: 36.2%;
    }

    .rat {
        position: absolute;
        top: 13.7%;
        left: 0%;
        width: 48.9%;
    }

    .dog {
        position: absolute;
        top: 18%;
        left: 61.3%;
        width: 30%;
    }

    .bees {
        position: absolute;
        top: 40.9%;
        left: 32.3%;
        width: 14.7%;
    }

    .pig {
        position: absolute;
        top: 65.2%;
        left: 2.1%;
        width: 33.7%;
    }

    .bat {
        position: absolute;
        top: 69.7%;
        left: 52%;
        width: 33.7%;
    }
}




