* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    color: #ffffff;
    background-color: #000000;
    ;
}
.header {
    background-color: #80769B;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Times New Roman';
}

@media (max-width:768px) {
    .frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 12.85%;
        margin-bottom: 12.85%;
    }

    .about1 {
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 14.71%;
    }

    .video {
        margin-top: 10%;
        margin-left: 33px;
        margin-bottom: 10%;
    }
    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #ffffff;
    }

    .object > img {
        max-width: 100%;
    }

    .four {
        margin-bottom: 14.4%;
    }
}

@media (min-width:769px) {
    .frame {
        display: flex;
        flex-direction: column;
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 4.03%;
        margin-bottom: 4.03%;
    }

    .video {
        margin-left: 20px;
        padding-bottom: 24px;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #ffffff;
    }

    .object > img {
        max-width: 100%;
    }

    .object {
        margin-bottom: 0.61%;
    }

    .eight {
        margin-bottom: 0;
    }

    .one {
        width: 76.4%;
        margin-left: 23.6%;
    }

    .four {
        width: 45.8%;
        margin-left: 11.4%;
    }

    .five {
        width: 91.3%;
    }

    .six {
        width: 91.3%;
    }

    .seven {
        width: 59.3%;
        margin-left: 22.2%;
    }

    .eight {
        width: 59%;
        margin-left: 6.6%;
    }

}