* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    color: #000000;
    background-color: #FFFFFF;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Times New Roman';
}

@media (max-width:768px) {
    .frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 12.85%;
    }

    .about1 {
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 14.71%;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }

    .object > img {
        max-width: 100%;
    }

    .object {
        margin-bottom: 14.4%;
    }

    .one {
        width: 56.8%;
        margin-left: 10%;
    }
}

@media (min-width:769px) {
    .frame {
        position: relative;
        aspect-ratio: 1311/2196;
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 4.03%;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }

    .object > img {
        max-width: 100%;
    }

    .one {
        position: absolute;
        top: 0%;  
        left: 3%;
        width: 26.2%;
    }

    .two {
        position: absolute;
        top: 2.6%;
        left: 34.9%;
        width: 64%;
    }

    .three {
        position: absolute;
        top: 36%;
        left: 0;
        width: 25.9%;
    }

    .four {
        position: absolute;
        top: 28.7%;
        left: 27.5%;
        width: 27.8%;
    }

    .five {
        position: absolute;
        top: 33.4%;
        left: 61.6%;
        width: 38.4%;
    }

    .six {
        position: absolute;
        top: 52.5%;
        left: 46.8%;
        width: 48.2%;
        display: flex;
        flex-direction: row;
    }

    .eight {
        position: absolute;
        top: 57.7%;
        left: 3.3%;
        width: 39.3%;
    }

    .seven {
        position: absolute;
        top: 71.6%;
        left: 49.4%;
        width: 45.5%;
    }
}




