* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    background-color: #FF2121;
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

@media (max-width:768px) {
    .container {
        aspect-ratio: 383/3980;
        display: flex;
        flex-direction: column;
        margin-left: 5.4%;
        margin-right: 5.4%;
    }

    .about {
        width: 84%;
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
        margin-top: 35px;
        margin-left: 33px   ;
    }

    .ob {
        margin-bottom: 14%;
    }

    .object > img {
        max-width: 100%;
    }

    .font-SITAL {
        width: 45.2%;
        margin-left: 19.6%;
    }

    .calendar-WAP {
        width: 91.4%;
        margin-left: 4.2%;
    }

    .fighting-animals {
        width: 94.3%;
        margin-left: 2.9%;
    }

    .poster-kebabs-flowers-fireworks {
        max-width: 71.8%;
        margin-left: 17%;
    }

    .Zin-kitchen-for-16 {
        max-width: 88.3%;
        margin-left: 5.5%;
    }

    .posters {
        width: 38.1%;
        margin-left: 35.8%;
    }

    .game-diagrams {
        width: 85.1%;
        margin-left: 5.7%;
    }

    .visual-research {
        width: 43.6%;
        margin-left: 21.9%;
    }

    .illustrations {
        width: 38.1%;
        margin-left: 56.4%;
    }

    .chess {
        width: 80.9%;
        margin-left: 7.3%;
    }

    .boovki {
        width: 79.1%;
        margin-left: 9.4%;
    }

    .tuesday {
        width: 88%;
        margin-left: 6.8%;
    }

    .fox-elephant {
        width: 87.5%;
        margin-left: 1.8%;
    }
}

@media (min-width:769px) {
    .container {
        position: relative;
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 3.2%;
        aspect-ratio: 1311/986;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        width: 84.6%;
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;

    }

    .object > img {
        max-width: 100%;
    }

    .font-SITAL {
        width: 10.5%;
        position: absolute;
        top: 5.9%;  
        left: 0.4%;
    }

    .calendar-WAP {
        width: 19.4%;
        position: absolute;
        top: 0%;
        left: 21.4%;
    }

    .fighting-animals {
        width: 29.4%;
        position: absolute;
        top: 0%;  
        left: 47.4%;
    }

    .poster-kebabs-flowers-fireworks {
        width: 12.6%;
        position: absolute;
        top: 0%;  
        left: 81.4%;
    }

    .Zin-kitchen-for-16 {
        width: 18.6%;
        position: absolute;
        top: 27.4%;  
        left: 2.4%;
    }

    .posters {
        max-width: 8.8%;
        position: absolute;
        top: 27.5%;  
        left: 33.3%;
    }

    .game-diagrams {
        width: 16.6%;
        position: absolute;
        top: 27.5%;  
        left: 54.5%;
    }

    .visual-research {
        width: 9%;
        position: absolute;
        top: 33.3%;  
        left: 87.6%;
    }

    .illustrations {
        width: 7.9%;
        position: absolute;
        top: 55%;  
        left: 4.5%;
    }

    .chess {
        width: 14.8%;
        position: absolute;
        top: 50.9%;  
        left: 23%;
    }

    .boovki {
        width: 16.6%;
        position: absolute;
        top: 50.9%;  
        left: 45.8%;
    }

    .tuesday {
        width: 14.3%;
        position: absolute;
        top: 50.9%;  
        left: 73.3%;
    }

    .fox-elephant {
        width: 24.2%;
        position: absolute;
        top: 76.5%;
        left: 4.5%;
    }
}


