* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    background-color: #FF2121;
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

@media (max-width:768px) {
    .container {
        margin-bottom: 2%;
        position: relative;
        aspect-ratio: 428/4070;
    }

    .about {
        width: 84%;
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
        position: absolute;
        margin-top: 63px;
        margin-left: 33px   ;
    }

    .font-SITAL > img {
        width: 100%;
    }

    .font-SITAL {
        width: 40.4%;
        position: absolute;
        top: 5.4%;  
        left: 22.4%;
    }

    .calendar-WAP > img {
        width: 100%;
    }

    .calendar-WAP {
        width: 81.8%;
        position: absolute;
        top: 10.3%;  
        left: 9.1%;
    }

    .fighting-animals > img {
        width: 100%;
    }

    .fighting-animals {
        width: 89.3%;
        position: absolute;
        top: 17.5%;  
        left: 7.9%;
    }

    .poster-kebabs-flowers-fireworks > img {
        max-width: 100%;
    }

    .poster-kebabs-flowers-fireworks {
        max-width: 64.3%;
        position: absolute;
        top: 23%;  
        left: 20.6%;
    }

    .Zin-kitchen-for-16 > img {
        max-width: 100%;
    }

    .Zin-kitchen-for-16 {
        max-width: 79%;
        position: absolute;
        top: 33.8%;  
        left: 9.8%;
    }

    .posters > img {
        max-width: 100%;
    }

    .posters {
        width: 49.1%;
        position: absolute;
        top: 39%;  
        left: 30.9%;
    }

    .game-diagrams > img {
        max-width: 100%;
    }

    .game-diagrams {
        width: 76.2%;
        position: absolute;
        top: 45.9%;  
        left: 10%;
    }

    .visual-research > img {
        max-width: 100%;
    }

    .visual-research {
        width: 39%;
        position: absolute;
        top: 53.6%;  
        left: 24.5%;
    }

    .illustrations > img {
        max-width: 100%;
    }

    .illustrations {
        width: 34.1%;
        position: absolute;
        top: 58.6%;  
        left: 55.4%;
    }

    .chess > img {
        max-width: 100%;
    }

    .chess {
        width: 72.4%;
        position: absolute;
        top: 64%;  
        left: 11.4%;
    }

    .boovki > img {
        max-width: 100%;
    }

    .boovki {
        width: 70.8%;
        position: absolute;
        top: 72.9%;  
        left: 13.3%;
    }

    .tuesday > img {
        max-width: 100%;
    }

    .tuesday {
        width: 78.7%;
        position: absolute;
        top: 83.7%;  
        left: 11.4%;
    }
}

@media (min-width:769px) {
    .container {
        margin-bottom: 2%;
        position: relative;
        aspect-ratio: 1440/966;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        width: 84.6%;
        font: 'Times New Roman';
        font-weight: 400;
        size: 20px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;

    }

    .font-SITAL > img {
        width: 100%;
    }

    .font-SITAL {
        width: 9.6%;
        position: absolute;
        top: 15.9%;  
        left: 4.9%;
    }

    .calendar-WAP > img {
        width: 100%;
    }

    .calendar-WAP {
        width: 17.6%;
        position: absolute;
        top: 9.9%;  
        left: 24%;
    }

    .fighting-animals > img {
        width: 100%;
    }

    .fighting-animals {
        width: 26.8%;
        position: absolute;
        top: 7.8%;  
        left: 47.7%;
    }

    .poster-kebabs-flowers-fireworks > img {
        max-width: 100%;
    }

    .poster-kebabs-flowers-fireworks {
        max-width: 11.5%;
        position: absolute;
        top: 9.9%;  
        left: 78.6%;
    }

    .Zin-kitchen-for-16 > img {
        max-width: 100%;
    }

    .Zin-kitchen-for-16 {
        max-width: 16.9%;
        position: absolute;
        top: 37.9%;  
        left: 6.7%;
    }

    .posters > img {
        max-width: 100%;
    }

    .posters {
        width: 15.1%;
        position: absolute;
        top: 29.9%;  
        left: 30.9%;
    }

    .game-diagrams > img {
        max-width: 100%;
    }

    .game-diagrams {
        width: 15.5%;
        position: absolute;
        top: 37.9%;  
        left: 54.4%;
    }

    .visual-research > img {
        max-width: 100%;
    }

    .visual-research {
        width: 8.2%;
        position: absolute;
        top: 43.9%;  
        left: 84.3%;
    }

    .illustrations > img {
        max-width: 100%;
    }

    .illustrations {
        width: 7.2%;
        position: absolute;
        top: 67.9%;  
        left: 8.6%;
    }

    .chess > img {
        max-width: 100%;
    }

    .chess {
        width: 13.5%;
        position: absolute;
        top: 61.9%;  
        left: 25.5%;
    }

    .boovki > img {
        max-width: 100%;
    }

    .boovki {
        width: 14.1%;
        position: absolute;
        top: 61.9%;  
        left: 46.7%;
    }

    .tuesday > img {
        max-width: 100%;
    }

    .tuesday {
        width: 13.1%;
        position: absolute;
        top: 61.9%;  
        left: 71.3%;
    }
}


