* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    color: #ffffff;
    background-color: #000000;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Times New Roman';
}

@media (max-width:768px) {
    .frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 12.85%;
    }

    .about1 {
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 14.71%;
    }

    .video {
        margin-top: 10%;
        margin-left: 33px;
        margin-bottom: 10%;
    }
    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #ffffff;
    }

    .object > img {
        max-width: 100%;
    }

    .ob {
        margin-bottom: 14.4%;
    }

    .nine {
        width: 70.6%;
    }

    .seven-nine {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }

    .ten-thirteen {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ten, .eleven, .twelve, .thirteen {
        width: 49%;
    }
}

@media (min-width:769px) {
    .frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 4.43%;
    }

    .video {
        margin-left: 20px;
        padding-bottom: 24px;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #ffffff;
    }

    .object > img {
        max-width: 100%;
    }

    .object {
        width: 100%;
        margin-bottom: 4.43%;
        margin-right: 0.61%;
    }

    .one {
        background-color: #ffffff;
        width: 78.6%;
    }
    
    .two-four {
        display: flex;
        flex-direction: row;
        width: 78.6%;
    }

    .five-six {
        display: flex;
        flex-direction: row;
        width: 78.6%;
    }


    .seven-nine {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .ten-thirteen {
        display: flex;
        flex-direction: row;
        width: 65.8%;
    }
}