* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    color: #000000;
    background-color: #ffffff;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

@media (max-width:768px) {
    .about1 {
        margin-top: 63px;
        margin-left: 33px;
    }
    .about {
        width: 84%;
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }

    .objects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
    }

    .object {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }

    .object > img {
        max-width: 100%;
    }

    .one {
        width: 77%;
        margin-left: 11%;
        margin-top: 15%;
    }

    .two {
        width: 56.5%;
        margin-left: 15%;
    }

    .three {
        width: 83.2%;
        margin-left: 8%;
    }

    .four {
        width: 100%;
    }

    .four1 {
        width: 0;
    }

    .five {
        width: 83.2%;
        margin-left: 8%;
    }

    .six {
        width: 84.8%;
        margin-left: 7%;
    }
}

@media (min-width:769px) {
    .container {
        position: relative;
        aspect-ratio: 1440/3248;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }

    .object > img {
        max-width: 100%;
    }

    .one {
        position: absolute;
        width: 32.2%;
        top: 4.7%;
        left: 3.8%;
    }

    .two {
        position: absolute;
        width: 28.2%;
        top: 6.5%;
        left: 42.6%;
    }

    .three {
        position: absolute;
        width: 61%;
        top: 19.6%;
        left: 28.8%;
    }

    .four {
        width: 0;
    }

    .four1 {
        position: absolute;
        width: 100%;
        top: 33.9%;
    }

    .five {
        position: absolute;
        width: 89.5%;
        top: 54.7%;
        left: 5.2%;
    }

    .six {
        position: absolute;
        width: 38.3%;
        top: 75%;
        left: 37.2%;
    }
}