* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    color: #000000;
    background-color: #ffffff;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

@media (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 12.85%;
    }

    .about1 {
        margin-left: 5.4%;
        margin-right: 5.4%;
        margin-top: 14.71%;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }

    .object > img {
        max-width: 100%;
    }

    .one-two {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10%;
    }

    .one {
        width: 96%;
        margin-left: 1.6%;
        margin-bottom: 10%;
    }

    .two {
        width: 63.2%;
        margin-left: 9.7%;
    }

    .three {
        width: 93%;
        margin-left: 3.1%;
        margin-bottom: 10%;
    }

    .four-mobile {
        width: 96.9%;
        margin-left: 1.3%;
        margin-bottom: 10%;
    }

    .four-computer {
        width: 0;
    }

    .five {
        width: 93.2%;
        margin-left: 3.4%;
        margin-bottom: 10%;
    }

    .six {
        width: 94.8%;
        margin-left: 2.6%;
        margin-bottom: 10%;
    }
}

@media (min-width:769px) {
    .container {
        aspect-ratio: 1311/3042;
        display: flex;
        flex-direction: column;
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 4.03%;
        margin-bottom: 4.03%;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }

    .one-two {
        width: 100%;
        position: relative;
        aspect-ratio: 1311/426;
    }

    .object > img {
        max-width: 100%;
    }
    
    .one > img {
        max-width: 100%;
    }
    .one {
        width: 35.2%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .two > img {
        max-width: 100%;
    }
    .two {
        width: 31%;
        position: absolute;
        top: 13.6%;
        left: 41.9%;
    }

    .three {
        width: 67%;
        margin-top: 4.43%;
        margin-left: 26.7%;
    }
    
    .four-computer {
        width: 100%;
        margin-top: 4.43%;
    }

    .four-mobile {
        width: 0;
        height: 0;
    }

    .five {
        width: 100%;
        margin-top: 2.6%;
    }

    .six {
        width: 42%;
        margin-top: 4.43%;
        margin-left: 36.1%;
    }
    
}