* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman';
    background-color: #E4FF79;
}
.header {
    background-color: #ffffff;
    width: auto;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
}
.menu {
    font-family: 'Times New Roman';
}
.logo {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Times New Roman';
}

@media (max-width:768px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .about1 {
        margin-top: 35px;
        margin-left: 33px;
        width: 84%;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        color: #000000;
    }

    .object {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    img {
        max-width: 85%;
    }
}

@media (min-width: 769px) {
    .container {
        margin-left: 4.7%;
        margin-right: 4.7%;
        margin-top: 3%;
        max-width: 100%;
        position: relative;
        aspect-ratio: 1306/1411;
    }

    .about1 {
        margin-top: 24px;
        margin-left: 20px;
    }

    .about {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }
    
    .download {
        font: 'Times New Roman';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.4px;
        text-decoration: none;
        color: #000000;
    }

    .object {
        max-width: 39.6%;
    }

    img {
        max-width: 100%;
    }

    .two {
        position: absolute;
        top: 5.2%;
        left: 50%;
    }

    .three {
        position: absolute;
        top: 39.2%;
        left: 2.6%;
    }

    .four {
        position: absolute;
        top: 35%;
        left: 56.4%;
    }

    .five {
        position: absolute;
        top: 69.2%;
        left: 17.5%;
    }
}